<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <nav>
       <a href = "{{ url_for('home')}}">🏠</a>
       <a href = "{{ url_for('account')}}">👤</a>
       <a href = "{{ url_for('search')}}">🔍</a>
       <a href = "{{ url_for('create')}}">➕</a>
    </nav>
    <script src="{{ url_for('static', filename='create.js') }}"></script>
</body>

</html>