<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css')}}">
</head>

{% extends "index.htm" %}

{% block content %}

    {% for room in roomlist %}
        <h3>{{ room.name }}</h3>
        <div class="display">
        <div class="circle1"></div>
        <a href = "{{ url_for('home')}}">🏠</a>
        </div>
        <hr>
    {% endfor %}

    <div id="timer">
    <button onclick="next()">タイマー</button>
    </div>

    {% for users in timelist %}
    <li>{{ users }}</li>
    {% endfor %}


    <nav>
    </nav>

    <script>
        function next() {
            location.href="{{ url_for('timer') }}"
        }
    </script>

{% endblock %}
