<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css')}}">
</head>

{% extends "index.htm" %}

{% block content %}

    <h3>KAIT</h3>
    <div class="display">
    <div class="circle1"></div>
    </div>
    <hr>

    <h3>swk</h3>
    <div class="display">
    <div class="circle1"></div>
    </div>
    <hr>

    <h3>hackthon</h3>
    <div class="display">
    <div class="circle1"></div>
    </div>
    <hr>

    <div>
    <a href = "{{ url_for('timer')}}">⏱</a>
    </div>
    <nav>
    </nav>

{% endblock %}
