<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css')}}">
    <title>Document</title>
</head>

<body>
    <h3>ログイン画面</h3>
    <p>ユーザー名</p>
    <input type="text" id="username">
    <p>パスワード</p>
    <input type="text" id="password">
    <div id="create">
    <button onclick="login()">ログイン</button>
</body>

<script src="{{ url_for('static', filename='login.js') }}"></script>
