<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
</head>

{% extends "index.htm" %}

{% block content %}

    <h1>{{ roomname }} の部屋</h1>
        <!-- 計測時間を表示 -->
        <div id="time">00:00:00.</div>

        <!-- スタート・ストップ・リセットボタン -->
        <button id="start" onclick="start()">Start</button>
        <button id="stop" onclick="stop()" disabled>Stop</button>
        <button id="reset" onclick="reset()" disabled>Reset</button>
        <button  id="save" onclick="save()" >保存</button>
        <h1>ルーム参加者一覧</h1>
        <ul id="users"></ul>


        <script>
            const socket = io();
            const username = "{{ session['username'] }}";  // Flask からユーザー名を取得
            const room = "{{ roomname }}";  // Flask からルーム名を取得

            // ルームに参加
            socket.emit("join_room", { username, room });
        
            // 参加者リストの更新
            socket.on("update_users", (users) => {
                const userList = document.getElementById("users");
                userList.innerHTML = "";
                users.forEach(user => {
                    const li = document.createElement("li");
                    li.textContent = user;
                    userList.appendChild(li);
                });
            });
        
            // ウィンドウを閉じるor離れるときにルーム退出
            window.addEventListener("beforeunload", () => {
                socket.emit("leave_room", { room });
            });
        </script>
        

        <div id="create">
            <button onclick="leaveRoom()">退室</button>
        </div>
        
        <script>
            function leaveRoom() {
                socket.emit("leave_room", { room });
                window.location.href = "{{ url_for('outroom') }}";
            }
        </script>
        <script src="{{ url_for('static', filename='timer.js') }}"></script>
        
{% endblock %}
